body {
  margin: 0;
  padding: 1%;
  background-color:grey;

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 100px;
    //padding: 1%;
    color: white;
    .spotim-title {
      font-size: 1.5em;
      float:left;
      position:relative;
      top:20%;
      left:1%;
    }
  }
  .chat-box-wrapper{
    //height: 100%;
    height: 450px;
    width:100%;
    margin-top: 1%;
    background-color: rgb(230, 227, 224);
  }


  .chat-box{
    //float:left;
    width:100%;
    height: 100%;
    margin: 2% 2% 2% 2%;
  }
  .chat-first{
    height:80%;
    width:100%;
  }
  .chat-second{
    height:20%;
    width:100%;
  }
  // .choose-avatr{
  //   margin: 2% 2% 2% 2%;
  //   //height:77%;
  //   //width: 15%;
  //   float:right;
  // }
  .messages{
    margin-top: 2%;
    height:100%;
    width:90%;
    overflow-y:scroll;
    float:left;
    .my-message{
      color: #0082DD;
    }
    li{
      font-size: 1.2em;
      line-height: 80px;
      list-style-type: none;

      img{
        float:left;
        max-height:40px;
      }
      p{
        float:left;
        width:90%;
        height:5%;
        margin-left: 2%;
        margin-bottom: 3%;
        word-wrap: break-word;
      }
    }
  }
  .barak{
    background-color: #0082DD;
  }

  .avatar{
    max-height:40px;
  }

  .username-area{
    background-color:white;
    border: 1px solid #ccc;
  }

  .text-area{
    background-color:white;
    border: 1px solid #ccc;
    margin-right:2%;
    height: 100%;
  }
  .send-button{
    width: 5%;
    height: 10%;
  }
}